*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    .fondotecno{
    
    background-image: url("grado83.jpg");
    
    background-repeat: no-repeat;
    
    }
    body{
    
        background-image: url("grado83.jpg");
        
        background-repeat: no-repeat;
        
        }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("cricuito.png");

        
        }
        
        
        
        .textotecno{
        
        text-align: right;
        
        color: rgb(29, 24, 21);
        
        font-size: 40px;
        
        
        
        }

        .fondosocia{
    
            background-image: url("grado83.jpg");
            
            background-repeat: no-repeat;
            
            }
            body{
            
                background-image: url("grado83.jpg");
                
                background-repeat: no-repeat;
                
                }
            
            
            .img{
            
            position: relative;
            
             
            
            width: 190px;
            
            height: 190px;
            
            border-radius: 10px;
            
            background-repeat: no-repeat;
            
             
            
            left: 180px;
            
            background-image: url("medellin.jpg");
            
            }
            
            .contenedor{
            
             
            
            height: 230px;
            
             
            
            }
            
            .texto{
            
            
            font-size: 40px;
            
            text-align: justify;
            
            color: brown;
            
             
            
            }

        .contenido{

            height: 280px;
            
            width: 101%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imagensocia{
            
             
            
            background-repeat: no-repeat;
            
            float: right;
            
            height: 189px;
            
            width: 1243px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("mapasocia.png");

        
            
            }
            
            
            
            .textosocia{
            
            text-align: right;
            
            color: azure;
            
            font-size: 20px;
            
            
            
            }

            .fondomatema{
    
                background-image: url("grado83.jpg");
                
                background-repeat: no-repeat;
                
                }
                body{
                
                    background-image: url("grado83.jpg");
                    
                    background-repeat: no-repeat;
                    
                    }
                
                
                .img{
                
                position: relative;
                
                 
                
                width: 190px;
                
                height: 190px;
                
                border-radius: 10px;
                
                background-repeat: no-repeat;
                
                 
                
                left: 180px;
                
                background-image: url("medellin.jpg");
                
                }
                
                .contenedor{
                
                 
                
                height: 230px;
                
                 
                
                }
                
                .texto{
                
                
                font-size: 40px;
                
                text-align: justify;
                
                color: brown;
                
                 
                
                }

            .contenido{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
        
                
            
                
                
                
                .textomatema{
                
                text-align: justify;
                
                color: azure;
                
                font-size: 30px;
                
                
                
                }

                .fondoingl{
    
                    background-image: url("grado83.jpg");
                    
                    background-repeat: no-repeat;
                    
                    }
                    body{
                    
                        background-image: url("grado83.jpg");
                        
                        background-repeat: no-repeat;
                        
                        }
                    
                    
                    .img{
                    
                    position: relative;
                    
                     
                    
                    width: 190px;
                    
                    height: 190px;
                    
                    border-radius: 10px;
                    
                    background-repeat: no-repeat;
                    
                     
                    
                    left: 180px;
                    
                    background-image: url("medellin.jpg");
                    
                    }
                    
                    .contenedor{
                    
                     
                    
                    height: 230px;
                    
                     
                    
                    }
                    
                    .texto{
                    
                    
                    font-size: 40px;
                    
                    text-align: justify;
                    
                    color: brown;
                    
                     
                    
                    }

                .contenido{

                    height: 280px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 410px;
                    
                     
                    
                    }
                    
                     
                    
                    .imageningl{
                    
                     
                    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("ingles.jpg");
                    
                    }
                    
                    
                    
                    .textoingl{
                    
                    text-align: justify;
                    
                    color: azure;
                    
                    font-size: 20px;
                    
                    
                    
                    }

                    .fondoreligi{
    
                        background-image: url("grado83.jpg");
                        
                        background-repeat: no-repeat;
                        
                        }
                        body{
                        
                            background-image: url("grado83.jpg");
                            
                            background-repeat: no-repeat;
                            
                            }
                        
                        
                        .img{
                        
                        position: relative;
                        
                         
                        
                        width: 190px;
                        
                        height: 190px;
                        
                        border-radius: 10px;
                        
                        background-repeat: no-repeat;
                        
                         
                        
                        left: 180px;
                        
                        background-image: url("medellin.jpg");
                        
                        }
                        
                        .contenedor{
                        
                         
                        
                        height: 230px;
                        
                         
                        
                        }
                        
                        .texto{
                        
                        
                        font-size: 40px;
                        
                        text-align: justify;
                        
                        color: brown;
                        
                         
                        
                        }

                    .contenido{

                        height: 280px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 410px;
                        
                         
                        
                        }
                        
                         
                        
                        .imagenreligi{
                        
                         
                        
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 200px;
                        
                        width: 260px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("hinduismo.jpeg");
                        
                        }
                        
                        
                        
                        .textoreligi{
                        
                        text-align: justify;
                        
                        color: azure;
                        
                        font-size: 20px;
                        
                        
                        
                        }

                        .fondobiolo{
    
                            background-image: url("grado83.jpg");
                            
                            background-repeat: no-repeat;
                            
                            }
                            body{
                            
                                background-image: url("grado83.jpg");
                                
                                background-repeat: no-repeat;
                                
                                }
                            
                            
                            .img{
                            
                            position: relative;
                            
                             
                            
                            width: 190px;
                            
                            height: 190px;
                            
                            border-radius: 10px;
                            
                            background-repeat: no-repeat;
                            
                             
                            
                            left: 180px;
                            
                            background-image: url("medellin.jpg");
                            
                            }
                            
                            .contenedor{
                            
                             
                            
                            height: 230px;
                            
                             
                            
                            }
                            
                            .texto{
                            
                            
                            font-size: 40px;
                            
                            text-align: justify;
                            
                            color: brown;
                            
                             
                            
                            }

                        .contenido{

                            height: 280px;
                            
                            width: 100%;
                            
                            position: absolute;
                            
                            top: 410px;
                            
                             
                            
                            }
                            
                             
                            
                            .imagenbiolo{
                            
                             
                            
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 200px;
                            
                            width: 260px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("cruces.jpg");
                            
                            }
                            
                            
                            
                            .textobiolo{
                            
                            text-align: justify;
                            
                            color: azure;
                            
                            font-size: 30px;
                            
                            
                            
                            }
                            
                        
                    
                
            
        